*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body{
    background-image: url("../../assets/img/este.jpeg");
    background-position: top left; 
    background-size: 40vw;
    background-repeat: repeat;
}

a{
    padding-right: 120px;
    padding-top: 20px;
    z-index: 1;
    position: relative;
    top: 300px;
    position: fixed;
    top: 700px;
    opacity: 0.7;
   
}
.uncor1{
    width: 200px;
    background: none;
    position: absolute;
    left: 1260px;
    top: -360px;
    
    
}
.uncor2{
    width: 100px;
    background: none;
    position: absolute;
    left: 1300px;
    top: -270px;
}
.uncor3{
    width: 120px;
    background: none;
    position: absolute;
    left: 1300px;
    bottom: 30px;
}
.game{
    width: 100vw;
    height: 80vh;
    object-fit: cover;
    object-position: top;
    background: none;
    position: relative;
    top: -135px;
} 
      
    
.logo{
    background: none;
    position: relative;
    top: -100px;
    left: 0px;
    width: 400px;
    float: left;
   
    
}
div{
   display: flex;
   flex-direction: column-reverse;
}  

h1{
    z-index: 1;
    font-size: 100px; 
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(3, 48, 33);
    background: none;
    text-shadow: rgb(79, 116, 5) 5px 5px;
    align-self: flex-start;
}

h2{    
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 80px;
    color: rgb(10, 10, 10);
    text-shadow: rgb(79, 116, 5) 5px 5px;
    width: 100vw;
    background: url(../../assets/img/logofondo2.jpeg);
    background-size: 5%;
    background-position: left;
    background-repeat: round;
    position: relative;
    top: -135px;
}

article>h3{
    text-align: center;
    text-shadow: white 2px 2px;
    font-size: 60px;
    color: rgb(56, 92, 3);
    font-family: fantasy;
   margin-bottom: 20px;
}

main p{
    text-align: center;
    text-shadow: white 2px 2px;
    color: black;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 10px;
}

main{
    position: relative;
    left: -200px;
    top: -100px;
}










   
